.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  overflow: auto;

  .text-container {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: auto;
  }

  .progress-container {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: auto;
  }

  .image-container {
    margin: auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .hidden-text-container {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: auto;
  }
}
